.conditions {
   @include adaptiveValue("padding-top", 70, 37);
   @include adaptiveValue("padding-bottom", 70, 37);
   // .conditions__container
   &__container {
   }
   // .conditions__title
   &__title {
      &:not(:last-child) {
         margin-bottom: rem(25);
      }
   }
   // .conditions__row
   &__row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(30);
      @media (max-width: $tablet) {
         gap: rem(12);
      }
      @media (max-width: $tablet) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: em(600)) {
         grid-template-columns: repeat(1, 1fr);
      }
   }
   // .conditions__item
   &__item {
      background: #f2f2f2;
      border-radius: 5px;
      padding-top: rem(20);
      padding-bottom: rem(30);
      position: relative;
      min-height: rem(250);
      @media (max-width: $mobileSmall) {
         min-height: rem(228);
      }
   }
   // .conditions__image
   &__image {
      position: absolute;
      bottom: 0;
      pointer-events: none;
      max-width: percent(200, 250);
      right: 0;
      @media (max-width: em(1100)) {
         max-width: rem(150);
      }
   }
   // .conditions__content
   &__content {
      position: relative;
      z-index: 2;
   }
   // .conditions__label
   &__label {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: rem(78);
      font-weight: 700;
      height: rem(40);
      font-size: rem(18);
      color: $whiteColor;
      line-height: math.div(22, 18);
      padding: rem(9) rem(20);
      background-color: $redColor;
   }
   // .conditions__text
   &__text {
      padding-top: rem(17);
      font-size: rem(14);
      line-height: 130%;
      max-width: rem(191);
      padding-left: rem(30);
   }
   // .conditions__icon
   &__icon {
      max-width: rem(23);
   }
}
