// <RATING>
// Снипет (HTML): rating
.rating {
   display: flex;
   align-items: flex-end;
   font-size: 15px;
   line-height: 1;
   transition: opacity 0.3s ease 0s;
}
.rating.rating_sending {
   opacity: 0.2;
}
.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
   cursor: pointer;
}

.rating__body {
   position: relative;
   font-family: FontAwesome;
}
.rating__body::before {
   content: "\f006 \f006 \f006 \f006 \f006";
   display: block;
   letter-spacing: 5px;
   color: #ffdd55;
}
.rating__active {
   position: absolute;
   width: 0%;
   height: 100%;
   top: 0;
   left: 0;
   overflow: hidden;
}
.rating__active::before {
   content: "\f005 \f005 \f005 \f005 \f005";
   position: absolute;
   letter-spacing: 5px;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   color: #ffdd55;
}

.rating__items {
   display: flex;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
.rating__item {
   flex: 0 0 20%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
}
.rating__value {
   font-size: 100%;
   display: none;
   line-height: 1;
   padding: 0px 0px 0px 10px;
}
